    .btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    padding: 15px 30px;
    gap: 10px;
    border: #ffd000;

    width: 182px;
    height: 50px; 

    color: rgb(255, 255, 255);
    background: #584c16;
    }
    .parent{
    display: flex;
    position: absolute;
    margin: 0% auto;
    text-align: center;
    top: 450px;
    left: calc(50% - 187px);
    gap: 30px; ;
    }
    .active-btn:hover{
        background-color: rgb(255, 238, 0);
        transform: scale(1.1);
        transition: 0.5s;
        font-size: 16px;
    }
    .btn-color{
        background-color: #ffd000;
        width: 254px;
        height: 50px;
    }