.header {
    position: absolute;
    height: 117px;
    display: flex;
    justify-content: center;
    background: none;
    width: 100%;
    
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    padding: 20px 10px 30px 10px;
    margin-bottom: 60px;
}

.header-top { 
    width: 100%;
    padding-top:  30px; 
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.header-bottom {
    display: flex;
    flex-wrap: wrap;
}
.header-bottom__link {
    width: 277px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-left: none;
    

    color: #fff;
}
.header-bottom__link:last-child{
    border-right: none;
   
}
.header-bottom__link:hover{
    background-color: black;
    transform: scale(1.1);
    transition: 0.5s;
    font-size: 16px;
}
.header-adress{
    color: aliceblue;
}
@media (max-width:1024px) {
    .header-content {display: none;}
}
