.registr {
background-color: #282828;
padding: 90px 40px 120px 40px;
justify-content: center ;
display: flex;

}
.registr__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 1110px;
    border: 3px solid #c4c4c4;
    padding-bottom: 80px;
    width: 100%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.registr__img{
    position: absolute;
    top:-91px;
    left: -121px;
    
}
.registr__img-right{
    position: absolute;
    left: 666px;
    top: -59px;
}
.registr__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 550px;
   max-width: 550px;
    position: relative;
    margin-top: -30px;
    z-index: 5;
    width: 100%;
    }
.registr__title {
font-size: 36px;
line-height: 150%;
text-align: center;
color: #ffffff;
background-color: #282828;
padding-left: 50px;
    padding-right: 50px;
}
.registr__line {
    width: 118px;
    background-color: 1px solid #ffffff;
}
.registr__text {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ffffff;

}
.registr__group-input {
    display: flex;
    justify-content:space-between ;
    width: 100%;
    gap: 30px;
    
}
.registr__input {
    width: 100%;
   height: 30px;
   background: none;
   font-size: 13px;
   color: #ffffff;
   border: none;
   border-bottom: 1px solid #ffffff;
padding: 0px;
}
.btn__registr {
    width: 100%;
    height: 50px;
    background-color: chocolate;

}
.registr__btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
    font-size: 16px;
    background-color: rgb(255, 106, 0);
}
.registr__input-adres{
    height: 30px;
    width: 100%;
    background: none;
    font-size: 13px;
    

}
.registr__input-adres:focus{
    border: none;
    border-bottom: 1px solid #ffffff;
}
.registr__input::placeholder,.registr__input-adres::placeholder{
    color: #ffffff;

}
@media (max-width:1024px) {
   .registr__img{ display: none;
}}
    



